section#credentials {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section#credentials .content .header {
  height: 200px;
  display: block;
  background: var(--common-green);
}

section#credentials .content .header .wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section#credentials .content .me {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

section#credentials .content .me img {
  margin: 0 auto;
  border-radius: 50%;
  width: 180px;
  margin-top: -100px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);

  margin-bottom: 10px;
}

section#credentials .content .me .greetings {
  font-size: 20px;
  color: #333;
}

section#credentials .content form,
section#credentials .content form .card-credentials {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#credentials .content .box-actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 2rem;
  margin: 30px auto 15px auto;
}
section#credentials .content .box-actions button {
  cursor: pointer;
}
section#credentials .content form {
  padding: 0 2rem;
}
section#credentials .content .box-actions button {
  border: 0;
  background: transparent;
}
section#credentials .content form input {
  border: 0;
  background: transparent;
  border-bottom: 1px solid #777;
}
section#credentials .content form button {
  margin-bottom: 10px;
  margin-right: auto;
  border: 0;
  background: var(--common-green);
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);

  cursor: pointer;
}
section#credentials .content form .card-credentials {
  background: #fff;
  padding: 1.5rem 1rem;
  border-radius: 8px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
section#credentials .content form .card-credentials .card-item label {
  color: #333;
  margin-right: auto;
  text-align: left;
  font-size: 14px;
}
section#credentials .content form .card-credentials .card-item {
  margin-top: 15px;
  text-align: left;
}
